.user-scripts-input {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: .21428571em;
  background-color: #fff;
  color: #333;
  font-size: 1em;
  padding: .5em .71428571em;
  min-width: 5.3571429em;
  max-width: 35.714286em;
  width: 100%;
  line-height: normal;
}
