.loader,
.loader:before,
.loader:after {
  background: $primary-color;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

.loader {
  color: $primary-color;
  position: relative;
  text-indent: -9999em;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;

  &__small {
    -webkit-animation-name: load__small;
    animation-name: load__small;
    width: 0.25em;
    height: 1em;

    &:before,
    &:after { 
      -webkit-animation-name: load__small;
      animation-name: load__small;
      width: 0.25em;
      height: 1em;
    }

    &:before {
      left: -0.6em;
    }

    &:after {
      left: 0.6em;
    }
  }
}


@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


@-webkit-keyframes load__small {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -.5em;
    height: 1.25em;
  }
}

@keyframes load__small {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -.5em;
    height: 1.25em;
  }
}

