.members-manager {
  &--input {
    position: relative;
    margin: 20px 0;
    
    .loader {
      display: none;
      position: absolute;
      bottom: 8px;
      right: 20px;
      margin: 0;
    }

    &__progress {
      .loader {
        display: block;
      }
    }
  }

  &--list {
    max-height: 240px;
    overflow: auto;
    padding: 0;
    list-style: none;

    .user {
      margin-top: 10px;
    }

    &__selected {
      max-height: 343px;
    }
  }

  &--selected {
    margin: 20px 0;
  }
}