.user-script-modal-box {
  position: relative;
  width: 600px;
  min-height: 400px;
  max-height: 400px;
  overflow-x: hidden;

  & > .loader {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}