.settings {
  margin: 15px 0;
  padding-top: 15px;
  border-top: 1px solid $secondary-color;

  &--wrap-submit {
    align-items: flex-end;
    display: flex;
  }

  .g-flex {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
}