.user {
  display: flex;
  align-items: center;

  &--image {
    max-width: 36px;
    max-height: 36px;
  }

  &--name {
    margin: 0 10px;
    font-weight: bold;
  }

  &--ctrl {
    margin-left: auto;
    padding: 1px 3px 3px 3px;
    height: auto;

    * {
      pointer-events: none;
    }

    .aui-iconfont-add:before {
      top: 0;
      left: 0;
    }
  }
}